 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: "Inter", sans-serif;
    background-color: #114c80 !important;
  }
  .formbold-mb-5 {
    margin-bottom: 20px;
  }
  .formbold-pt-3 {
    padding-top: 12px;
  }
  .formbold-main-wrapper {
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 48px;
  }

  .formbold-form-wrapper {
    max-width: 550px;
    width: 100%;
    background: #8ac8d1;
    padding: 30px;
  }
  .formbold-form-label {
    display: block;
    font-weight: 700;
    font-size: 20px;
    color: #07074d;
    margin-bottom: 12px;
  }
  .formbold-form-label-2 {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
  }

  .formbold-form-input {
    width: 100%;
    padding: 12px 24px;
    border-radius: 6px;
    border: 1px solid #e0e0e0;
    background: white;
    font-weight: 500;
    font-size: 16px;
    color: #6b7280;
    outline: none;
    resize: none;
  }
  .formbold-form-input:focus {
    border-color: #6a64f1;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
  }

  .formbold-btn {
    text-align: center;
    font-size: 14px;
    padding: 5px 5px;
    border: none;
    font-weight: 600;
    background-color: #2e82b3;
    color: white;
    cursor: pointer;
  }

    .formbold-btn-add {
    text-align: center;
    font-size: 20px;
    padding: 5px;
    border: none;
    font-weight: 600;
    background-color: #2e82b3;
    color: white;
    cursor: pointer;
    margin-left: 374px;

  }


  .formbold-btn-delete {
    text-align: center;
    font-size: 21px;
    padding: 3px 4px;
    font-weight: 600;
    background-color: red;
    color: white;
    cursor: pointer;

  }

  .formbold-btn-edit {
    text-align: center;
    font-size: 21px;
    padding: 3px 4px;
    font-weight: 600;
    background-color: green;
    color: white;
    cursor: pointer;

  }

  .formbold-btn:hover {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
  }

  .formbold--mx-3 {
    margin-left: -12px;
    margin-right: -12px;
  }
  .formbold-px-3 {
    padding-left: 12px;
    padding-right: 12px;
  }
  .flex {
    display: flex;
  }
  .flex-wrap {
    flex-wrap: wrap;
  }
  .w-full {
    width: 100%;
  }
  @media (min-width: 540px) {
    .sm\:w-half {
      width: 50%;
    }
  }

.folium-map{
margin: auto;
height: 600px;
  }

th {
  border: 2px solid #114c80;
  background: #2e82b3;
  color:white;
  font-size: 25px;
  padding: 10px !important;
}


td {
  border: 2px solid #114c80;
  background: #8ac8d1;
  color:black;
  font-size: 20px;
  font-weight: 700;
  padding: 5px;

}

table{
margin: auto;
}